.choose-demo .logo {
  padding: 4rem 0; }
.choose-demo .responsive-img {
  padding: 2rem; }
.choose-demo .buy-now {
  padding: 7.5rem 0;
  margin: 2rem 0; }
.choose-demo footer {
  padding: 4rem 0; }
