footer
    .container
        .row
            
                ul
                    
            .col.s12.l4.margin-on-medium-and-down
                address
                    | Ramona Land!
                    br
                    | San Francisco Bay Area
                    br
                

               